# dependencies
node_modules
.pnp
.pnp.*

# builds
.next
dist
out
build

# turbo
.turbo

# env
.env
.env*.local

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.pem
.vercel
.paused
*.tsbuildinfo
next-env.d.ts
